---
import BookDetails from '@/layouts/book-details.astro'

import { Button } from '@/components/ui/button'

import { FcBrokenLink } from 'react-icons/fc'

import { books } from '@/config/books'

export function getStaticPaths() {
  return books.map((b) => ({ params: { id: b.id } }))
}

const { id } = Astro.params

const book = books.find((b) => b.id === id)!
---

<BookDetails title="共读系列">
  <div class="bg-background-200 h-full">
    <section class="container py-18">
      <div class="info flex">
        <!-- 封面 -->
        <div
          class="cover w-full h-[820px] rounded-md overflow-hidden bg-muted-foreground/15"
        >
          <img src={book.image} class="size-full object-center" alt="" />
        </div>

        <div class="more px-8 h-[820px]">
          <div class="title">
            <div class="name-description">
              <h1
                class="text-balance font-heading text-3xl sm:text-4xl md:text-6xl lg:text-[22px] py-4"
              >
                <font style="vertical-align: inherit;"
                  ><span class="font-extrabold"
                    ><font style="vertical-align: inherit;">
                      {book.title}
                    </font></span
                  ></font
                ><span class="text-gradient_indigo-purple font-extrabold"
                  ><font style="vertical-align: inherit;"></font></span
                >
              </h1>

              <hr class="my-4" />

              <p
                class="leading-normal text-muted-foreground sm:text-xs sm:leading-8 mt-4 px-2"
              >
                <font style="vertical-align: inherit;">{book.description}</font>
              </p>
            </div>
          </div>

          <hr class="my-4" />

          <div class="catalogue overflow-auto">
            <div class="item flex">
              <div class="serial lg:text-[32px]">01</div>
              <div class="book-catalogue-info">
                <div class="catalogue-title">历史余元</div>

                <div
                  class="catalogue-introduce sm:text-xs sm:leading-8 text-balance leading-normal text-muted-foreground"
                >
                  历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元
                  历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元
                </div>
              </div>
              <div class="occupy"></div>
            </div>

            <div class="item flex">
              <div class="serial lg:text-[32px]">01</div>
              <div class="book-catalogue-info">
                <div class="catalogue-title">历史余元</div>

                <div
                  class="catalogue-introduce sm:text-xs sm:leading-8 text-balance leading-normal text-muted-foreground"
                >
                  历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元
                  历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元
                </div>
              </div>
              <div class="occupy"></div>
            </div>

            <div class="item flex">
              <div class="serial lg:text-[32px]">01</div>
              <div class="book-catalogue-info">
                <div class="catalogue-title">历史余元</div>

                <div
                  class="catalogue-introduce sm:text-xs sm:leading-8 text-balance leading-normal text-muted-foreground"
                >
                  历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元
                  历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元
                </div>
              </div>
              <div class="occupy"></div>
            </div>

            <div class="item flex">
              <div class="serial lg:text-[32px]">01</div>
              <div class="book-catalogue-info">
                <div class="catalogue-title">历史余元</div>

                <div
                  class="catalogue-introduce sm:text-xs sm:leading-8 text-balance leading-normal text-muted-foreground"
                >
                  历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元
                  历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元
                </div>
              </div>
              <div class="occupy"></div>
            </div>

            <div class="item flex">
              <div class="serial lg:text-[32px]">01</div>
              <div class="book-catalogue-info">
                <div class="catalogue-title">历史余元</div>

                <div
                  class="catalogue-introduce sm:text-xs sm:leading-8 text-balance leading-normal text-muted-foreground"
                >
                  历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元
                  历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元历史余元
                </div>
              </div>
              <div class="occupy"></div>
            </div>
          </div>

          <hr class="my-4" />

          <div class="link-container">
            <Button variant="secondary" size="sm" rounded="xl" className="px-4">
              <a href={book.link} class="flex items-center gap-2">
                <span>原文地址</span>
                <FcBrokenLink />
              </a>
            </Button>
          </div>
        </div>
      </div>
    </section>
  </div>
</BookDetails>

<style lang="less">
  .info {
    overflow: hidden;
    padding: 0.8rem;
  }

  .cover {
    flex: 2;
    box-shadow: 0px 0px 13px #71716a;
    -moz-box-shadow: 0px 0px 13px #71716a;
    -webkit-box-shadow: 0px 0px 13px #71716a;
  }

  .more {
    display: flex;
    flex-direction: column;
    flex: 4;

    .name-description {
      h1 {
        background-color: rgba(143, 143, 139, 0.2);
        border-radius: 1rem;
        padding-left: 1rem;
      }
    }

    .catalogue {
      flex: 1;

      box-shadow: 0px 0px 7px #7f7f76 inset;
      -moz-box-shadow: 0px 0px 7px #7f7f76 inset;
      -webkit-box-shadow: 0px 0px 7px #7f7f76 inset;
      border-radius: 1rem;

      &::-webkit-scrollbar {
        width: 6px;
        margin-right: 10px;
      }

      &::-webkit-scrollbar-thumb {
        // background: #7f7f76; /* 滚动条滑块颜色 */
        background: rgb(255, 255, 255);
        background: linear-gradient(
          rgba(255, 255, 255, 0.3) 0%,
          rgba(155, 155, 145, 0.3) 31%,
          rgba(103, 103, 88, 0.3) 53%,
          rgba(142, 142, 132, 0.3) 77%,
          rgba(204, 204, 204, 0.3) 100%
        );
        border-radius: 10px; /* 滑块圆角 */
      }

      .item {
        padding: 3rem 0;
        .serial {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 2;
        }

        .book-catalogue-info {
          flex: 9;
          .catalogue-title {
            padding: 0.1rem 0;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
          }
          .catalogue-introduce {
            padding: 0.1rem 0;
          }
        }

        .occupy {
          flex: 2;
        }
      }
    }

    .link-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 4rem;
    }
  }
</style>
