---
import BookDetails from '@/layouts/book-details.astro'
---

<BookDetails title="共读系列">
  <div class="bg-background-200 h-full">
    <section class="container py-32">
      <div class="info flex">
        <div class="cover aspect-video">
          <img
            src="/assets/images/books/s_hero2x.png"
            class="object-cover"
            alt=""
          />
        </div>
        <div class="more px-4">
          <div class="title">
            <div class="name-description">
              <h1
                class="text-balance font-heading text-3xl sm:text-4xl md:text-6xl lg:text-[32px]"
              >
                <font style="vertical-align: inherit;"
                  ><span class="font-extrabold"
                    ><font style="vertical-align: inherit;">
                      你不了解的JS
                    </font></span
                  ></font
                ><span class="text-gradient_indigo-purple font-extrabold"
                  ><font style="vertical-align: inherit;"></font></span
                >
              </h1>

              <p
                class="text-balance leading-normal text-muted-foreground sm:text-xs sm:leading-8 mt-4"
              >
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;"
                    >所有程序的基础都是将变量/函数组织到嵌套作用域中。然而，许多人从未考虑过这些决定是如何以及为何做出的，以及对代码可维护性的影响。作用域和闭包检查词法作用域，在其原理的基础上构建闭包的力量，并深入研究模块模式以获得更好的程序结构。</font
                  >
                </font>
              </p>
            </div>
          </div>

          <div class="catalogue">
            <div class="catalogue-item">
              <div class="left-content">
                <!-- <div style="height:1100px"></div> -->
                <div style="height:1100px"></div>
              </div>
              <div class="right-content">2</div>
            </div>
          </div>

          <div class="link-container"></div>
        </div>
      </div>
    </section>
  </div>
</BookDetails>

<style lang="less">
  .info {
    overflow: hidden;
  }

  .cover {
    flex: 2;
  }

  .more {
    display: flex;
    flex-direction: column;
    flex: 4;

    .catalogue {
      flex: 1;
      overflow: auto; /* 添加滚动条 */
      min-height: 0;
      .catalogue-item {
        display: flex;
        overflow-y: scroll;
        height: 100%;
        div {
          flex: 1;
        }
      }
    }

    .link-container {
      height: 4rem;
      background-color: skyblue;
    }
  }
</style>
