---
import Layout from '../layouts/Layout.astro'

import AnimatedTabs from '@/components/AnimatedTabs'
---

<Layout title="Welcome to DGTS">
  <div class="page-main bg-white">
    <section class="space-y-6 py-24 sm:py-20 lg:py-20 h-[54rem] content">
      <!-- 标题 -->
      <div
        class="container flex max-w-5xl flex-col items-center gap-5 text-center"
      >
        <h1
          class="text-balance font-heading text-4xl sm:text-2xl md:text-4xl lg:text-[42px]"
          style="width: 80%;"
        >
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">吾生也有涯,而知也无涯</font>
          </font>
        </h1>

        <h1
          class="text-balance font-heading text-4xl sm:text-2xl md:text-4xl lg:text-[42px]"
          style="width: 80%;"
        >
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">以有涯随无涯,殆已</font>
          </font>
        </h1>

        <p
          class="max-w-2xl text-balance leading-normal text-muted-foreground sm:text-xs sm:leading-8"
        >
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"
              >天下间的知识如浩瀚大海，无穷无尽，但人的时间、精力、心思却有限。如果盲目追求，没有目标和方向，就真的没完没了；但如果所学习的是真知和正见，确定自己的目标，有的放矢地去学习，而不是盲目追求知识，就是值得鼓励和欣赏的。</font
            >
          </font>
        </p>
      </div>

      <div class="clouds3"></div>
      <div class="clouds2"></div>
      <div class="clouds1"></div>
    </section>

    <div class="pt-24 py-16 lg:py-24 lg:pt-32 max-w-screen-xl mx-auto">
      <AnimatedTabs client:load />
    </div>

    <style lang="less">
      .content {
        position: relative;
        overflow: hidden;
        transform-style: preserve-3d;

        background-image: url('/assets/images/page/home/light.svg');

        .clouds1,
        .clouds2,
        .clouds3 {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;

          background-size: 100% auto;
          background-position: bottom;
          background-repeat: no-repeat;
        }

        .clouds3 {
          z-index: 1;
          background-image: url('/assets/images/page/home/clouds3.svg');
        }

        .clouds2 {
          z-index: 2;
          background-image: url('/assets/images/page/home/clouds2.svg');
        }

        .clouds1 {
          z-index: 3;
          background-image: url('/assets/images/page/home/clouds1.svg');
          bottom: -1px;
        }

        .cartoon-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;

          bottom: 0;

          background-size: 100%;
          background-repeat: no-repeat;

          height: 220px;

          overflow: hidden;

          z-index: 10;

          img {
            width: 50%;
            max-width: none;
          }
        }
      }
    </style>
  </div>
</Layout>
