---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to DGTS">
  <div class="page-main">
    <section class="space-y-6 py-12 sm:py-20 lg:py-20">
      <div
        class="container flex max-w-5xl flex-col items-center gap-5 text-center"
      >
        <h1
          class="text-balance font-heading text-4xl sm:text-2xl md:text-4xl lg:text-[42px]"
          style="width: 80%;"
        >
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"
              >吾生也有涯,而知也无涯,以有涯随无涯,殆已</font
            >
          </font>
        </h1>

        <p
          class="max-w-2xl text-balance leading-normal text-muted-foreground sm:text-xs sm:leading-8"
        >
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"
              >天下间的知识如浩瀚大海，无穷无尽，但人的时间、精力、心思却有限。如果盲目追求，没有目标和方向，就真的没完没了；但如果所学习的是真知和正见，确定自己的目标，有的放矢地去学习，而不是盲目追求知识，就是值得鼓励和欣赏的。</font
            >
          </font>
        </p>
      </div>
    </section>
  </div>
</Layout>

<!-- 吾生也有涯,而知也无涯,以有涯随无涯,殆已 -->
<!-- 天下间的知识如浩瀚大海，无穷无尽，但人的时间、精力、心思却有限。如果盲目追求，没有目标和方向，就真的没完没了；但如果所学习的是真知和正见，确定自己的目标，有的放矢地去学习，而不是盲目追求知识，就是值得鼓励和欣赏的。 -->

<style lang="less"></style>
