---
const { title } = Astro.props
---

<div class="block-container mt-6">
  <div
    style="background-color:#0F111A;--shiki-dark-bg:#212121;color:#babed8;--shiki-dark:#EEFFFF;overflow-x:auto"
    class="file-name rounded-lg px-4 py-2 astro-code"
  >
    {title}
  </div>
  <div class="content">
    <slot />
  </div>
</div>

<style>
  .block-container {
    display: flex;
    flex-direction: column;
  }
  .file-name {
    box-sizing: border-box;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    border-bottom-color: #dadde1;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  .content :global(pre) {
    margin: 0 0 1rem !important;

    border-top-left-radius: 0;
    border-top-right-radius: 0;

    border: none !important;


  }
</style>
