---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === '/' + subpath?.[0]
---

<a href={href} class:list={[{ active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: block;
    height: 100%;
    color: var(--sl-color-white);
    display: flex;
    align-items: center;

    padding: 0 2rem;
    text-decoration: none;
  }
  a.active {
    font-weight: bolder;
    border-bottom: 1px solid var(--sl-color-text-accent);
  }

  a:hover {
    font-weight: bolder;
  }
</style>
