---
import PageHeader from '@/components/PageHeader.astro'
interface Props {
  title: string
}

const { title } = Astro.props

//重新配置doc menu菜单状态

import { docsConfig } from '@/config/docs'


import '@/styles/globals.css'

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <head>
      <PageHeader />
    </head>
    <main>
      <slot />
    </main>
    <!-- <footer>footer</footer> -->
  </body>
</html>
<style>
  body {
    height: 100vh;
  }
  main {
    height: calc(100% - 4rem);
  }
</style>

<script define:vars={{docsConfig}}>
localStorage.setItem('menu', JSON.stringify(docsConfig))
</script>
